html {
    scroll-behavior: smooth;
}
header {
    width: 100%;
    height: 100vh;
    background-image: url(Images/Apple-with-Dark-Background.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center center;
}
.navbar {
    background: linear-gradient(to right, black, #555, white);
}
.navbar .navbar-brand, .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: white;
}
.btn-outline-success {
    background-color: black;
    color: white;
    background-image: none;
    border-color: white;
    border-radius: 13px;
}
.btn-outline-success:hover {
    color: black;
    background-color: white;
    border-color: black;
}
.aboutUs {
    padding: 50px 0px;
    text-align: center;
    background-image: url(Images/Dark\ Background.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    height: auto;
    color: wheat;
}
.aboutUs .container .row .head {
    margin: auto;
}
.aboutUs .container .row .head h1 {
    font-family: 'Courier New', Courier, monospace;
    border-left: 2px solid white;
    border-right: 2px solid white;
}
.aboutUs .aboutBody {
    margin-top: 3%;
}
.profile {
    padding: 50px 0px;
    text-align: center;
    height: auto;
    background: linear-gradient(to left, #000 70%, rgb(47, 6, 63));
    color: white;
    text-align: center;
}
.profileHeader h1::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 5px;
    left: 15%;
    background-color: white;
    top: 50%;
}
.profileHeader h1::after {
    content: "";
    position: absolute;
    width: 20%;
    height: 5px;
    right: 15%;
    background-color: white;
    top: 50%;
}
.products {
    padding: 50px 0px;
    padding-bottom: 5%;
    text-align: center;
    background-image: url(Images/Spiral\ Galaxy\ Inside.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    height: auto;
    color: wheat;
}
.products .container .row h1 {
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 1px solid white;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 20%;
    margin-bottom: 5%;
}
.footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}
.footer h6 {
    color: white;
}
.footer .footer-links {
    padding-left: 0;
    list-style: none;
}
.footer-links {
    color: #737373;
}
.footer-links li:hover {
    color: white;
    cursor: pointer;
}
.social-icons li {
    display: inline-block;
    color: white;
    margin-left: 2%;
}
.social-icons li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
}